services:
  nginx:
    image: nginx:1.29.2-alpine
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
    - frontend-network
    - backend-network
  db:
    image: postgres:17
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - app-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    networks:
    - backend-network
  mongo:
    image: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME?Variable not set}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD?Variable not set}
    healthcheck:
      test: CMD-SHELL mongo --username "$$MONGO_INITDB_ROOT_USERNAME" --password "$$MONGO_INITDB_ROOT_PASSWORD" --authenticationDatabase admin --eval "db.adminCommand('ping')" || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - backend-network
  rabbitmq:
    image: rabbitmq:4-management
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend-network
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    depends_on:
      - db
      - mongo
      - rabbitmq
    volumes:
      - ./gateway:/app
    environment:
      - MONGO_URL=${MONGO_URL?Variable not set}
      - RABBITMQ_URL=${RABBITMQ_URL?Variable not set}
    networks:
    - backend-network
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    volumes:
      - ./auth-service:/app
    depends_on:
      db:
        condition: service_healthy
        restart: true
    environment:
      - SECRET_KEY=${SECRET_KEY?Variable not set}
      - POSTGRES_SERVER=${POSTGRES_SERVER?Variable not set}
      - POSTGRES_PORT=${POSTGRES_PORT?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
    command: bash scripts/start.sh
    networks:
    - backend-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
        restart: true
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
    - frontend-network
  converter-service:
    build:
      context: ./converter-service
      dockerfile: Dockerfile
    command: python -u -m app.queues.consume
    volumes:
      - ./converter-service:/app
    environment:
      - MONGO_URL=${MONGO_URL?Variable not set}
      - RABBITMQ_URL=${RABBITMQ_URL?Variable not set}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
    - backend-network
  email-service:
    build:
      context: ./email-service
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    volumes:
      - ./email-service:/app
      - /app/node_modules
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL?Variable not set}
      - NODEMAILER_KEY=${NODEMAILER_KEY?Variable not set}
    networks:
    - backend-network

volumes:
  app-db-data:

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge