apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: sanjogpariyar2024/video-to-mp3-authservice:latest
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        envFrom:
          - secretRef:
              name: postgress-secret
        env:
          - name: SECRET_KEY
            value: "ybLV4-5nkCwys4WoKZ3Wvpclb8AA6q4CU3jT2_OCIAU"
          - name: POSTGRES_SERVER
            value: "postgres-service"
          - name: POSTGRES_PORT
            value: "5432"
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth
  ports:
  - port: 8000
    targetPort: 8000
    