apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: sanjogpariyar2024/video-to-mp3-authservice:latest
        command: ["bash", "scripts/start.sh"]
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        envFrom:
          - configMapRef:
              name: auth-service-configMap
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth
  ports:
  - port: 8000
    targetPort: 8000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-configMap
data:
  SECRET_KEY: ybLV4-5nkCwys4WoKZ3Wvpclb8AA6q4CU3jT2_OCIAU
  POSTGRES_SERVER: db
  POSTGRES_PORT: "5432"
  POSTGRES_DB: app
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: sanjog1234
