apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service-deployment
spec:
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      containers:
      - name: email-service
        image: sanjogpariyar2024/video-to-mp3-emailservice:latest
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: email-service
spec:
  selector:
    app: email-service
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: converter-service-configMap
data:
  NODEMAILER_KEY: kgia xwgg yuyl kfzg
  RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
