# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment & secrets
.env
.env.*
!.env.example

# Git & metadata
.git
.gitignore

# IDE & editor files
.vscode/
.idea/

# Docker
Dockerfile*
docker-compose*.yml

# OS / cache
*.log
*.DS_Store
Thumbs.db
