name: Deployment to Docker Hub

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'

jobs:
  build-tag-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/video-to-mp3-frontend:latest
      - name: Build and push gateway
        uses: docker/build-push-action@v6
        with:
          context: ./gateway
          file: ./gateway/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/video-to-mp3-gateway:latest
      - name: Build and push auth service
        uses: docker/build-push-action@v6
        with:
          context: ./auth-service
          file: ./auth-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/video-to-mp3-authservice:latest
      - name: Build and push converter service
        uses: docker/build-push-action@v6
        with:
          context: ./converter-service
          file: ./converter-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/video-to-mp3-converterservice:latest
      - name: Build and push email service
        uses: docker/build-push-action@v6
        with:
          context: ./email-service
          file: ./email-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/video-to-mp3-emailservice:latest